<!DOCTYPE html>

<html>
<header>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</header>
<div class="main-content">
    {{>header}}
    <img class="portrait" src="/img/IMG_20190922_173328.jpg">
</div>
{{>footer}}


</html>